<!doctype html>
<html lang="en" ng-app="apiApp" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ASA API</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body ng-controller="ASA_API_Ctrl">
  <img class="background_img" src="img/wallpaper.jpg" width="100%" height="100%" alt="Login"/>

  <div class="whole_container">

    <div class="left_container">    
      <div class="logo">ASA API <span style="font-size: 16px;">for developers</span></div>
      <div class="search_app"></div>    
      <div class="search_input">Search here...</div>
      <div class="list_container">
        <div ng-repeat="app in apps | filter:query | orderBy:orderProp">
          <div 
            class="app_unit" 
            ng-click="showInfo(app, $index)" 
            ng-class="{list_selected: $index == selected}"
            >
            <div class="app_edge"></div>
            <div class="app_image"></div>
            <div class="app_name">{{app.app_name}}</div>
            <div class="app_discription">{{app.short_description}}</div>
            <div class="app_price">Price ${{app.pricing_by_month}}/month</div>
          </div>
        </div>         
      </div>   
    </div>

    <div id="dialog_container">

<!--       <div class="one_dialog fadeIn fadeIn-50ms fadeIn-Delay-50ms">
        <div class="left_dialog_app_edge"></div>
        <div class="left_dialog_app_image"></div>
        <div class="left_dialog_app_name">Customers</div>
        <div class="left_dialog_container">
          <div class="left_dialog_text">
            Hi, I am service-app "Customers" short for 
            "<span style="color: #FFBB28;">CustomerDataReadWrite</span>". <br/>
            Talk to me, your APP can read and write to user's customer data. <br/>
            Send "<span style="color: #FFBB28;">help</span>" to know my API.
          </div>
        </div>
      </div> -->

<!--       <div class="one_dialog fadeIn fadeIn-50ms fadeIn-Delay-100ms">
        <div class="right_dialog_app_edge"></div>
        <div class="right_dialog_app_image"></div>
        <div class="right_dialog_app_name">Your APP</div>
        <div class="right_dialog_container">
          <div class="right_dialog_text">help</div>
        </div>
      </div>  -->    

      <div class="one_dialog fadeIn fadeIn-20ms">
        <div class="left_dialog_app_edge"></div>
        <div class="left_dialog_app_image"></div>
        <div class="left_dialog_app_name">{{app.app_name}}</div>
        <div class="left_dialog_container">
          <div class="left_dialog_text">
            {{app.hello}}
          </div>
        </div>
      </div>

      <div class="one_dialog fadeIn fadeIn-20ms fadeIn-Delay-20ms">
        <div class="left_dialog_app_edge"></div>
        <div class="left_dialog_app_image"></div>
        <div class="left_dialog_app_name">{{app.app_name}}</div>
        <div class="left_dialog_container">
          <div class="left_dialog_text">
            <span style="color: #FFBB28;">
              (1) APP:
            </span>
            {{app.app_name + " " + app.app_version}}<br/>
          </div> 
          <div class="left_dialog_text">
            <span style="color: #FFBB28;">
              (2) Service Description:
            </span>
          </div>
          <img 
            class="image_p1" 
            src="{{app.img_p1}}"
            width="100%" alt=""
            ng-show="app.img_p1 != null"
          />
          <div class="left_dialog_text_2 " ng-show="app.detail_p1 != null">{{app.detail_p1}}</div>
          <img 
            class="image_p2" 
            src="{{app.img_p2}}"
            width="100%" alt=""
            ng-show="app.img_p2 != null"
          />
          <div class="left_dialog_text_2" ng-show="app.detail_p2 != null">{{app.detail_p2}}</div>
          <img 
            class="image_p3" 
            src="{{app.img_p3}}"
            width="100%" alt=""
            ng-show="app.img_p3 != null"
          />
          <div class="left_dialog_text_2" ng-show="app.detail_p3 != null">{{app.detail_p3}}</div>
          <div class="left_dialog_text">
            <span style="color: #FFBB28;">
              (3) API Examples:
            </span>
          </div>
          <div class="left_dialog_text_2" ng-show="app.example_1 != null">
            Example 1: {{app.example_1}}
          </div>
          <div class="left_dialog_text_2" ng-show="app.example_2 != null">
            Example 2: {{app.example_2}}
          </div>
          <div class="left_dialog_text_2" ng-show="app.example_3 != null">
            Example 3: {{app.example_3}}
          </div>
          <div class="left_dialog_text_2" ng-show="app.example_4 != null">
            Example 4: {{app.example_4}}
          </div>
          <div class="left_dialog_text_2" ng-show="app.example_5 != null">
            Example 5: {{app.example_5}}
          </div>
          <div class="left_dialog_text">
            <span style="color: #FFBB28;" ng-show="app.example_project != null">
              (4) Example User-APP:
            </span>
          </div>
          <a href="{{app.example_project}}" target="_blank">
          <div class="left_dialog_text_2" ng-show="app.example_project != null">
            {{app.example_project}}
          </div>
          </a>
        </div>
      </div>

      <div id="messages">
        <div id="message_dialog">
          <div class="one_dialog">
            <div class="right_dialog_app_edge"></div>
            <div class="right_dialog_app_image"></div>
            <div class="right_dialog_app_name">Your APP</div>
            <div id="right_dialog_container">
              <div class="right_dialog_text">
                {{message}}
              </div>
              <div id="right_expend_button">+</div>
              <pre id="code_container">
  /* This is automatically generated AnguarJS Code for ASA request. */
  $scope.ASAsend = function(app, message) {
    var req = {
      method: 'POST',
      url: 'http://asa.gausian.com',
      data: $.param({
          user_app_id:'app_id',
          service_app_name: '{{app.app_name}}'
          request_string: '{{message}}'
    })};
    $http(req).success(function(data) {
      $scope.asa_response = angular.fromJson(data.response);
    });
  };
              </pre>
              <div id="copy_bn">Copy</div>
            </div>
          </div>
        </div>

        <div id="response_dialog">
          <div class="one_dialog fadeIn fadeIn-20ms">
            <div class="left_dialog_app_edge"></div>
            <div class="left_dialog_app_image"></div>
            <div class="left_dialog_app_name">{{app.app_name}}</div>
            <div class="left_dialog_container">
              <pre class="left_dialog_text">
                {{asa_response | json}}
              </pre> 
            </div>
          </div>
        </div>
      </div>

    </div>
    
    <div class="fadeIn fadeIn-50ms bottom_container"></div>
    <div class="fadeIn fadeIn-50ms" id="bottom_send" type="submit" ng-click="ASAsend(app, message)">
      Send to ASA
    </div>
    <div id="bottom_input" class="fadeIn fadeIn-50ms">
      <input
        class="bottom_input_text"
        type="text"
        name="asa_input"
        placeholder={{app.example}}
        ng-model="message" ng-initial
      >
      </input>
    </div>
    <div class="fadeIn fadeIn-50ms bottom_option">
      <div class="fadeIn fadeIn-50ms option_line_1"></div>
      <div class="fadeIn fadeIn-50ms option_line_2"></div>
      <div class="fadeIn fadeIn-50ms option_line_3"></div>
    </div>

    <script src="jquery-1.11.2.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/showcontrol.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
  </div>

</body>
</html>